body {
  background-color: black;
  text-align: center;
}

h3 {
  text-align: center;
  padding: 40px;
}

table td#info {
  text-align: left;
  padding-top: 40px;
}

table tr#lightpink {
  background-color: lightpink;
}

table tr#palegreen {
  background-color: palegreen;
}

table tr#skyblue {
  background-color: skyblue;
}

table tr#footnote {
  text-align: center;
  padding-top: 40px;
}

