body {
  background-color: black;
  text-align: center;
}

td.info {
  text-align: left;
}

tr.lightpink {
  background-color: lightpink;
}

tr.palegreen {
  background-color: palegreen;
}

tr.skyblue {
  background-color: skyblue;
}
