body {
  background-color: black;
  text-align: center;
}

table td#info {
  text-align: left;
  padding-top: 40px;
}

table tr#lightpink {
  background-color: lightpink;
}

header {
  color: #acfe76;
  background-color: black;
  text-align: center;
  font-family: 'Creepster', cursive;
  font-size: 400%;
}

table tr#skyblue {
  background-color: skyblue;
}

footnote {
  text-align: center;
  margin-top: 40px;
  color: white;
  background-color: black;
}

footnote:a {
  color: white;
}

footnote:hover {
  color: red;
}

footnote:visited {
  color: white;
}

